.about-us-div{
    min-height: 100vh;
    background-color: white;
    color: #1F2937; 
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
      font-family: 'IBM Plex Sans Arabic', sans-serif
}
@media (min-width: 640px) {
  .about-us-div {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.h1-about-us-div{
    font-weight: bold;
    margin-bottom: 2rem;
    color: #047857; 
    text-align: center;
      font-family: 'IBM Plex Sans Arabic', sans-serif
}
@media (min-width: 640px) {
  .h1-about-us-div {
    font-size: 2.25rem;
  }
}
.about-us-div-text-container{
    max-width: 56rem; 
    margin-left: auto;
    margin-right: auto;
      font-family: 'IBM Plex Sans Arabic', sans-serif
}
.about-us-div-text-content{
    line-height: 1.625;
    color: #374151;
    font-size: 1.125rem; 
    text-align: justify;
      font-family: 'IBM Plex Sans Arabic', sans-serif
}